#editMenu{
    margin-top: 3%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
}
.selectId{
    background-color: white;
    margin-bottom: 1%;
}
#updateInput{
    background-color: white;
    margin-left: 0.5%;
    margin-bottom: 1%;
}
.tableAdjust{
    margin: 20px;
    background-color: white;
    margin-top: 2%;
}