* {
  font-family: 'Inter', sans-serif;
  caret-color: transparent;
  user-select: none;
  box-sizing: border-box;
}
.totalContainer{
  
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  margin: 0;
  padding: 0;
  background: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
*{
  background-color: transparent;
  
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  background: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  
  
  .labelClass{
    
    margin-left: 22%;
    width: 50%;
    

  }

  .radio-group {
    content: "";
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin-left: 5px;
    transition: 0.05s ease;
    box-shadow:  inset 0 0 0 2.5px #FF00003D;
  }
  
  input[type='radio'] {
    margin-top: 15%;
    margin-right: 10px;
  }
  

  
 .buttonGreen {
  color: #FFF;
  font-size: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;

  border: none;
  border-radius: 9px;
  background: rgba(250, 62, 62, 0.8);
  width: 95px;
  height: 38px;
  padding-bottom: 1px;
  transition: 0.05s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  /* News Scrolling*/
  .news-section {
    border: #e65656 4px solid;
   
    width: 30%;
    height: 70%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 10%;
    overflow: hidden;
    position: relative;
  }
  
  .news-section-ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    animation: marquee 20s linear infinite;
  }
  
  .news-section-ul li {
    padding-bottom: 2rem;
  }
  
  @keyframes marquee {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .news-section-ul::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .logoPart{
    border-radius: 0px 21.586px 21.586px 0px;
    background: linear-gradient(198deg, rgba(250, 62, 62, 0.8) 0.01%, #FC5757 100%);
    width: 360px;
    height: 460px;
    padding: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  #mymess{
    font-family: 'Inter';
    font-size: 400%;
    margin: auto;

    color: #ffff;
    margin-bottom: 140px;
    margin-top: 0px;
  }
  
  
  .loginPart{
    border-radius: 30px 0px 0px 30px;
      background: linear-gradient(136deg, rgba(15, 15, 15, 0.29) 0%, rgba(31, 31, 31, 0.41) 100%);
      backdrop-filter: blur(6px);
      width: 360px;
      height: 460px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  







.loginText {
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  margin: auto;
  margin-top: 65px;
  /* padding: 30px 20px 0px 20px; */
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 51px;
}
.labelText {
  color: #000;
  font-size: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  margin-left: 10px;
}
.radioButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.radioButton{
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-left: 5px;
  transition: 0.05s ease;
  box-shadow:  inset 0 0 0 2.5px #FF00003D;
}
.radioButton2 {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
  transition: 0.05s ease;
  box-shadow:  inset 0 0 0 7px #FF00003D;
  position: absolute;
}
.radioTile {
  background: rgba(255, 255, 255, 0.63);
  width: 280px;
  height: 52px;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.05s ease;
}
label:hover {
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}
.radioTile:hover {
  background: rgba(230, 86, 86, 0.8);
  transition: 0.05s ease;
  cursor: pointer;
}
.radioTile:hover .labelText {
  color: white;
  transition: 0.05s ease;
  cursor: pointer;
}
.radioTile:hover .radioButton {
  box-shadow:  inset 0 0 0 2.5px rgba(255, 255, 255, 0.4);
}
.radioTile:hover .radioButton2 {
  box-shadow:  inset 0 0 0 7px rgba(255, 255, 255, 0.4);
}
input[type="radio"]:checked + .radioButton {
  box-shadow:  inset 0 0 0 2.5px rgba(255, 0, 0, 0.785);
}
input[type="radio"]:checked + .radioButton + .radioButton2 {
  box-shadow:  inset 0 0 0 7px rgba(255, 0, 0, 0.785);
}
.radioTile:hover > label > .labelText + .radioButtonDiv > input[type="radio"]:checked + .radioButton {
  box-shadow:  inset 0 0 0 2.5px rgb(255, 255, 255);
}
.radioTile:hover > label > .labelText + .radioButtonDiv > input[type="radio"]:checked + .radioButton + .radioButton2 {
  box-shadow:  inset 0 0 0 7px rgb(255, 255, 255);
}
.submitDiv {
  width: 95px;
  height: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
}
.submitButton {
  color: #FFF;
  font-size: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;

  border: none;
  border-radius: 9px;
  background: rgba(250, 62, 62, 0.8);
  width: 95px;
  height: 38px;
  padding-bottom: 1px;
  transition: 0.05s ease;
}
.submitButton:hover {
  background-color: white;
  color: #E65656;
  transition: 0.05s ease;
  cursor: pointer;
  /* font-weight: 500; */
}
.rightContainer {
  border-radius: 0px 21.586px 21.586px 0px;
  background: linear-gradient(198deg, rgba(250, 62, 62, 0.8) 0.01%, #FC5757 100%);
  width: 360px;
  height: 460px;
  display: flex;
  padding: 4vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.MyMessImg {
  width: 180px; 
  height: 180px;
  margin: auto;
}
.MyMessTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
}
.MyMessText {
  color: #FFF;
  font-size: 72px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.MyMessTagline {
  color: #F55252;
  font-size: 18px;
  font-family: 'Inter';
  font-style: normal;
  line-height: normal;
  text-align: right;
  width: 200px;
  padding-right: 4px;
  margin-top: -10px;
}

@media (max-width: 720px) {
  html, body {
      /* min-height: -webkit-fill-available; */
      overflow-x: hidden;
      height: 100%;
      margin: 0;
      padding: 0;
      background: url(../assets/mobile-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }
  .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
  }
  .leftContainer {
      order: 2;
      border-radius: 0px 0px 30px 30px;  
      width: 80vw;
      height: max(50vh, 80vw);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .rightContainer {
      order: 1;
      border-radius: 30px 30px 0px 0px;
      width: 80vw;
      height: max(15vh, 35vw);
      display: flex;
      padding: 4vw;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      overflow: hidden;
  }
  .MyMessTextDiv {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
  .MyMessImg {
      width: 21vw;
      height: 21vw;
      padding-left: 4px;
  }
  .MyMessText {
      font-size: 13vw;
      padding: 0px 4px 0px 4px;
  }
  .MyMessTagline {
      font-size: 2.54vw;
      width: 100%;
      padding: 0px 2vw 0px 0px;
      margin: 0px;
  }
  .loginText {
      color: #FFF;
      text-align: center;
      font-size: 6.75vw;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 650;
      line-height: normal;
      margin: auto;
      /* padding: 30px 20px 0px 20px; */
  }
  .submitDiv {
      width: 25vw;
      height: 6vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
  }
  .submitButton {
      color: #FFF;
      font-family: 'Inter';
      font-style: normal;
      line-height: normal;
      text-align: center;
      font-size: 5vw;
      font-weight: 600;
      text-align: center;
  
      border: none;
      background: rgba(250, 62, 62, 0.8);
      transition: 0.25s;
      border-radius: 9px;
      width: 25vw;
      height: 6vh;
      align-items: center;
  }
  .radioTile {
      background: rgba(255, 255, 255, 0.63);
      width: 71vw;
      height: 14vw;
      border-radius: 3.5vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.25s ease-in-out;
  }
  label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 71vw;
      height: 14vw;
  }
  .labelText {
      color: #000;
      font-size: 4.75vw;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      margin-left: 3vw;
  }
  .radioButtonDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2vw;
  }
  .radioButton{
      content: "";
      width: 6.5vw;
      height: 6.5vw;
      border-radius: 50%;
      margin-left: 5px;
      transition: .25s ease;
      box-shadow:  inset 0 0 0 0.6vw #FF00003D;
  }
  .radioButton2 {
      content: "";
      width: 3.5vw;
      height: 3.5vw;
      border-radius: 50%;
      margin-left: 5px;
      transition: .25s ease;
      box-shadow:  inset 0 0 0 5vw #FF00003D;
      position: absolute;
  
  }

}
  